.about {
    margin: 0;
    h2 {
        position: relative;
        bottom: 20px;
        right: 30px;
        text-align: right;
    }
}

.aboutContainer {
    display: flex;
    position: relative;
    bottom: 50px;
    left: 20px;
    margin: 0 50px;
}

.aboutImage {
    width: 60%;
    img {
        max-width: 100%;
        display: block;
    }
}

.aboutContent {
    width: 50%;
    background: $accentColor;
    position: relative;
    top: 50px;
    right: 100px;
    padding: 50px;
    p {
        line-height: 2;
    }
}

.whiteSpace {
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 50px;
    background: white;
    z-index: 10;
}