.about {
    margin: 0;
    .wrapper {
        position: relative;
    }
    h2 {
        text-align: right;
        z-index: 50;
        margin-right: 30px;
    }
}

.aboutContainer {
    display: flex;
    margin: 0 50px;
}

.aboutImage {
    width: 90%;
    img {
        max-width: 100%;
        display: block;
    }
}

.aboutContent {
    width: 70%;
    background: $accentColor;
    position: relative;
    top: 50px;
    right: 50px;
    padding: 50px;
    p {
        line-height: 2;
    }
}

.whiteSpace {
    height: 50px;
    width: 100%;
    position: absolute;
    top: -50px;
    background: white;
    z-index: 10;
}