header {
    height: 110vh;
    background-image: url(./assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    position: relative;
    h1 {
        font-family: $bodyFont;
        text-transform: uppercase;
        font-size: 8rem;
        letter-spacing: 0.8rem;
        text-align: center;
        padding-top: 70px;
    }
}

// .headerContainer {
//     position: relative;
// }

.nav {
    position: fixed;
    text-align: right;
    right: 5%;
    top: 22px;
    img {
        width: 25px;
    }
}

.social {
    position: fixed;
    top: 25%;
    left: 5%;
    h3 {
        display: inline-block;
        transform: rotate(-90deg);
        position: relative;
        left: -68px;
        font-size: 1.4rem;
        letter-spacing: 0.8rem;
        font-family: $bodyFont;
        text-transform: uppercase;
    }
}

.socialLinks {
    margin-top: 75px;  
    img {
        width: 8rem;
        position: relative;
        left: -33px;
    }
}

.socialLinks ul {
    position: relative;
    top: -30px;
    li {
        margin: 15px 0;
        a {
            text-decoration: none;
            color: black;
            transition: 0.2s all;
        }
        i {
            font-size: 1.4rem;
        }
    }
}

.socialLinks a:hover {
    color: #FA7268;
}

.whiteSpace {
    height: 50px;
    width: 85%;
    position: absolute;
    bottom: 0;
    background: white;
}