header {
    height: 110vh;
    background-image: url(./assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    // position: static;
    h1 {
        font-family: $bodyFont;
        text-transform: uppercase;
        font-size: 8rem;
        letter-spacing: 0.8rem;
        text-align: center;
        padding-top: 70px;
    }
}

// .headerContainer {
//     position: relative;
// }

.social {
    position: fixed;
    top: 25%;
    left: 5%;
    h3 {
        display: inline-block;
        transform: rotate(-90deg);
        position: relative;
        left: -68px;
        font-size: 1.4rem;
        letter-spacing: 0.8rem;
        font-family: $bodyFont;
        text-transform: uppercase;
    }
}

.socialLinks {
    margin-top: 75px;  
    img {
        width: 8rem;
        position: relative;
        left: -33px;
    }
}

.socialLinks ul {
    position: relative;
    top: -30px;
    li {
        margin: 15px 0;
        a {
            text-decoration: none;
            color: black;
            transition: 0.2s all;
        }
        i {
            font-size: 1.4rem;
        }
    }
}

.socialLinks a:hover,
.socialLinks a:focus {
    color: $hoverColor;
}


//Hamburger menu
.fixed {
    position: fixed;
    text-align: right;
    right: 5%;
    top: 22px;
    z-index: 100;
    background: none;
    img {
        width: 25px;
    }
}

.hamburgerNav {
    cursor: pointer;
}

.pageNav {
    background: none;
    // width: 150px;
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    li {
        // padding: 15px 5px;
        background: white;
        background: $hoverColor;
        opacity: 0.8;
        border-bottom: 1px solid black;
        transition: 0.2s all;
    }
    a {
        text-decoration: none;
        display: block;
        padding: 12px 10px 12px 30px;
        // padding: 50px;
        // padding: 15px 5px 15px 30px;
        color: black;
        transition: 0.2s all;
        // border: 1px solid red;
    }
}

.pageNav li:last-child {
    border-bottom: none;
}

.pageNav li:hover {
    background: white;
    color: $hoverColor;
}

.pageNav a:hover {
    color: $hoverColor;
}

.menuHide {
    display: none;
}