$headingFont: 'Playfair Display', serif;
$bodyFont: 'Heebo', sans-serif;
$accentColor: #dae0ed;
$hoverColor: #FA7268;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: $bodyFont;
}

section {
    margin: 100px 0;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Heading styles
h1, h2, h3, h4 {
    margin: 0;
}

h1, h3 {
    font-family: $bodyFont;
    // text-transform: uppercase;
}

h2 {
    font-family: $headingFont;
    font-size: 9rem;
    // opacity: 0.5;
}

h3 {
    font-size: 3rem;
    font-family: $headingFont;
    text-transform: capitalize;
}

h4 {
    font-size: 1.6rem;
    font-family: $bodyFont;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        text-decoration: none;
        color: black;
    }
}

.button {
    width: 25%;
    border: none;
    background: $accentColor;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: 0.3s all;
}

.button:hover {
    background-color: $hoverColor;
}